* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
}

#app {
    width: 100%;
    padding: 20px;
}

header {
    margin-bottom: 34px;
    text-align: center;
}

h1 {
    color: #D6C47B;
    font-size: 64px;
    font-weight: 800;
}

h2 span {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}
.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 525px;
    height: 40px;
    background: linear-gradient(to right, #FFFFFF 30%, #D6C47B 45%);
}

.match p {
    margin: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

#containerGames {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.game img {
    padding-left: 18px;
}

.game:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 480px) {
    header img {
        width: 200px;
    }

    h1 {
        font-size: 48px;
    }

    h2 span {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .game {
        transform: scale(0.85);
    }

    .game:hover {
        transform: scale(0.89);
        cursor: pointer;
    }

    #containerGames {
        gap: 0;
    }
}

@media (max-width: 375px) {
    header {
        margin-bottom: 20px;
    }

    header img {
        width: 150px;
    }

    h1 {
        font-size: 38px;
    }

    h2 span {
        font-size: 20px;
    }

    h2 {
        font-size: 15px;
    }

    .game {
        transform: scale(0.65);
    }

    .game:hover {
        transform: scale(0.69);
    }

    #containerGames {
        gap: 0;
    }
}

@media (max-width: 300px) {
    header {
        margin-bottom: 10px;
    }

    header img {
        width: 120px;
    }

    h1 {
        font-size: 28px;
    }

    h2 span {
        font-size: 15px;
    }

    h2 {
        font-size: 12px;
    }

    .game {
        transform: scale(0.54);
    }

    .game:hover {
        transform: scale(0.56);
    }

    #containerGames {
        gap: 0;
    }
}