* {
    padding: 0;
    margin: 0;
}

body * {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
}

#app {
    width: fit-content;
    margin: auto;
    padding: 50px;
}

header {
    margin-bottom: 34px;
    text-align: center;
}

h1 {
    color: #D6C47B;
    font-size: 64px;
    font-weight: 800;
}

h2 span {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
}
.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 525px;
    height: 40px;
    background: linear-gradient(to right, #FFFFFF 30%, #D6C47B 45%);
}

.match p {
    margin: 40px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

#containerGames {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

img {
    padding-left: 18px;
}